<h2>Recuperar Contraseña</h2>
<form action="/api/sessions/forgot-password" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <button type="submit">Enviar</button>
</form>

<a href="/login">Volver a Iniciar Sesión</a>
