<div>
    <h1>Compra finalizada</h1>
    <br>
    <h2>Ticket de compra</h2>
    <p>Código de ticket: {{ticket.code}}</p>
    <p>Fecha de compra: {{ticket.purchase_datetime}}</p>
    <p>Total a pagar: ${{ticket.amount}}</p>
    <p>Comprador: {{ticket.purchaser}}</p>
    <br>
    <h3>¡Gracias por su compra!</h3>
    <P>Ha sido enviado un mail con el ticket</P>
</div>